body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  margin-top: 150px;
}

h1 {
  color: #333;
  font-size: 30px;
  max-width: 700px;
  margin: 0 auto 20px;
  line-height: 1.3;
}

p {
  color: #555;
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto 40px;
}

.btn {
  text-decoration: none;
  background-color: #b66eb9;
  color: #fff;
  padding: 15px 35px;
  border-radius: 30px;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #9c4da5;
}
